---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ul id="ValleyOfCode">
		  <li><a href='http://localhost:4321/valley'>	 Introduction</a></li>
		  <li><a href='http://localhost:4321/url'>	What is a URL</a></li>
		  <li><a href='http://localhost:4321/port'>What is a Port</a></li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
