---
import Layout from '../layouts/Layout.astro';
import Content from '../components/test.astro';
import Menu from '../components/Basic.astro';
let posts = await Astro.glob('./url.md');
let post = posts[0];
---
<Layout title="Valley of Code">
	<main>
		<Menu />
        <div class="content">
            <Content title="The Internet: What is a port" />
            <post.Content />
	    </div>
	</main>
    <script>
        const urlitem = document.getElementById('port-item');
        urlitem.classList.add('active');
    </script>
</Layout>
